:root {
    --dark-accent-rgb: 45, 61, 84;
    --dark-color-rgb: 33, 33 ,33;
    --dark-opacity: .37;
    --light-accent-rgb: 196, 215, 242;
    --light-color-rgb: 241, 241, 241;
    --light-opacity: .15;
    --transition: .3s ease;
    --spacing: 40px;

    --accent-color-rgb: var(--dark-accent-rgb);
    --background-color-rgb: var(--dark-color-rgb);
    --opacity: var(--dark-opacity);
    --text-color-rgb: var(--light-color-rgb);
}

body {
    font-family: "Afacad Flux", sans-serif;
    margin: 0;
    padding: 0;
    height: 100dvh;
    min-height: 340px;
    background: linear-gradient(353deg, rgba(var(--background-color-rgb),1) 0%, rgb(var(--accent-color-rgb),1) 100%);;
    color: rgb(var(--text-color-rgb));
    transition: all var(--transition);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: var(--spacing);
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: var(--spacing);
}

#theme-toggle {
    position: absolute;
    top: 0;
    right: var(--spacing);
    padding: 10px;
    cursor: pointer;
}

.divider {
    width: 100%;
    border-bottom: 7px dotted rgb(var(--accent-color-rgb))
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing);
}

.profile h1 {
    font-size: 3rem;
    line-height: .7;
    margin: 0;
    padding: 10px 0;
}

.profile p {
    font-size: 1.2rem;
    margin: 0;
    padding: 10px 0;
}

.profile-image {
    width: 130px;
    min-width: 130px;
    height: 130px;
    background-image: url("../img/profile.png");
    background-size: cover;
    border-radius: 60% 30% 50% 5%;
}


.socials {
    text-align: center;
}

.socials a {
    margin: 0 10px;
    font-size: 2rem;
    color: rgb(var(--text-color-rgb));
    text-decoration: none;
}

.opacity {
    opacity: var(--opacity);
    transition: opacity var(--transition);
}
.opacity:hover {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color-rgb: var(--dark-accent-rgb);
        --background-color-rgb: var(--dark-color-rgb);
        --opacity: var(--dark-opacity);
        --text-color-rgb: var(--light-color-rgb);
    }
    .fa-moon {
        display: none;
    }
    .forced-light {
        --accent-color-rgb: var(--light-accent-rgb);
        --background-color-rgb: var(--light-color-rgb);
        --opacity: var(--light-opacity);
        --text-color-rgb: var(--dark-color-rgb);
    }
    .forced-light .fa-moon {
        display: inline-block;
    }
    .forced-light .fa-sun {
        display: none;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color-rgb: var(--light-accent-rgb);
        --background-color-rgb: var(--light-color-rgb);
        --opacity: var(--light-opacity);
        --text-color-rgb: var(--dark-color-rgb);
    }
    .fa-sun {
        display: none;
    }
    .forced-dark {
        --accent-color-rgb: var(--dark-accent-rgb);
        --background-color-rgb: var(--dark-color-rgb);
        --opacity: var(--dark-opacity);
        --text-color-rgb: var(--light-color-rgb);
    }
    .forced-dark .fa-moon {
        display: none;
    }
    .forced-dark .fa-sun {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    :root {
        --spacing: 20px;
    }
    .profile {
        flex-direction: column;
        align-items: center;
    }
}
